section div.introCard{
    width: auto;
    height: auto;
    padding: 0 5px;
    position: relative;
}

section div.introCard p.introTitle{
    color: black;
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
}

section div.introCard p.introAbout{
    color: #868686;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
}

section div.aboutSiteCard{
    display: inline-block;
    width: 240px;
    height: auto;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.37),
        inset 0 0 30px #be8b0030,
        0 0 30px #be8b0030;
    position: relative;
    padding: 20px;
    border: 2px solid #c3c6ce;
    margin: 5% 3%;
    overflow: visible;
}

section div.aboutSiteCard div.aboutSiteDetails{
    gap: 0.5em;
    display: grid; 
    place-content: center;
}

section div.aboutSiteCard div.aboutSiteDetails p.aboutSiteTextBody{
    color: #868686;
    line-height: 1.4;
}

section div.aboutSiteCard:hover{
    transform: scale(1.02);
}

section div.aboutSiteCard:hover div.aboutSiteDetails p.aboutSiteTextBody{
    color: #000;
}

section div.aboutSiteCard div.aboutSiteDetails p.aboutSiteTextBody a:hover{
    text-decoration: underline;
}

@keyframes infoCardAnim{
    0%{box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.20);}
    50%{box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.10);}
    100%{box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.20);}
  }
  
  @media screen and (max-width: 600px){
  
    section div.welcomeCard{
      margin-bottom: 50px;
    }
  
    section div.welcomeCard p.welcomeTitle{
        font-size: 1.2em;
    }
  
    section div.welcomeCard p.welcomeBody{
        font-size: 1.1em;
    }
  
    section div.aboutSiteCard{
        padding-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 5px;
    }
}