*{
    text-decoration: none;
    font-family: 'Rubik';
    transition: all 0.3s ease;
}

html{
    scroll-behavior: smooth;
}

body{
    text-align: center;
    background-color: #E5E5E5;
}

section div.sectionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

section div.sectionContainer input#searchbar{
    z-index: 1000;
    position: sticky;
    top: 1rem;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 50px;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid #e5e5e520;
    background: #E5E5E54c;
}

section div.sectionContainer input#searchbar:hover{
        box-shadow: 
        inset 0 0 30px #8c63307d,
        0 0 30px #8c63307d;
}

section div.sectionContainer input#searchbar:focus{
        box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 0 30px #8c6330c0,
        0 0 30px #8c6330c0;
    border: 3px solid #C58940;
    padding: 8px;
    width: 51%;
    font-size: 16px;
    outline: none;
}
 
section div.sectionContainer ul#list{
    list-style: none;
    padding: 0;
    margin: 0;
}
 
section div.sectionContainer ul#list li.sections{
    list-style: none;
    font-size: 1.2em;
    padding: 0px;
    animation: fadeIn 0.5s ease-in-out;
}
 
section div.sectionContainer ul#list li.sections:last-child{
    border-bottom: none;
}

div.card{
    text-align: center;
    cursor: default;
    width: 50%;
    height: auto;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 70px;
    padding: 20px;
    background: #E5BA73;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.10);
}

div.card:hover{
    transform: translateY(-1.5px);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.20);
}

section div.card ol{
    padding-right: 30px;
}

section div.card ul{
    padding-right: 20px;
}

section div.card li{
    font-size: 18px;
    margin: 10px;
    padding-bottom: 20px;
}

section div.card li:last-child{
    padding-bottom: 0px;
}

.cardTitle{
    margin: auto;
    font-size: 26px;
    margin-bottom: 30px;
    color: #FAF8F1;
}

p.top{
    color: #000;
    font-size: 25px;
}

p.top span{
    font-size: 16px;
}

.cardSubTitle{
    color: #FAEAB1;
    font-weight: 600;
    font-size: 22px;
}

.cardSubTitle2{
    color: #C58940;
    font-weight: 500;
    font-size: 16px;
}

a.toTop{
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-decoration: none;
    position: fixed;
    color: #e5e5e565;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.37),
        inset 0 0 30px #be8b0030,
        0 0 30px #be8b0030;
    border: 2px solid #e5e5e520;
    border-radius: 20px;
    padding: 0 10px;
    width: 50px;
    padding-top: 6px;
    font-size: 2em;
    bottom: 1rem;
    right: 50%;
    transform: translateX(50%);
    transition: opacity 0.8s all;
    background: transparent;
    opacity: 0;
}

a.toTop:hover{
    color: #ffb760c0;
    border: 2px solid #ffb760c0;
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 0 30px #8c6330c0,
        0 0 30px #8c6330c0;
}

    a.toTop:active{
        color: #de9c4a;
        box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.37),
        inset 0 0 30px #7a522bc0,
        0 0 30px #7a522bc0;
    }


@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
 
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 600px) {
    p.top{
        font-size: 20px;
    }

    p.top span{
        font-size: 16px;
    }

    div.card{
        width: 92%;
        padding: 2%;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    div.card{
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    #myInput{
        box-sizing: border-box;
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 8px;
        border: none;
        border-bottom: 1px solid #ddd;
    }
}