section{
  text-align: center;
  margin: auto;
  justify-content: center;
}

section div.welcomeCard{
  width: auto;
  height: auto;
  padding: 0 5px;
  border-radius: 15px;
  position: relative;
  overflow: visible;
  margin-bottom: 100px;
}

section div.welcomeCard p.welcomeTitle{
  font-size: 26px;
  font-weight: 400;
  margin-top: 0px;
}

section div.welcomeCard p.welcomeBody{
  font-size: 1.3em;
  color: #c58940;
  font-weight: 500;
}

section div.welcomeCard p.welcomeBody a{
  color: #000;
}

section div.welcomeCard p.welcomeBody:hover{
  transform: scale(1.02);
}

section div.welcomeCard p.welcomeBody a:hover{
  color: #c58940;
}

section div.azkarCardSection{
  display: inline-block;
  width: 240px;
  height: auto;
  align-items: center;
  border-radius: 10px;
  background-color: #f5f5f5;
  position: relative;
  padding: 20px;
  margin: 0% 3%;
  margin-bottom: 40px;
  border: 2px solid #c3c6ce;
  overflow: visible;
}

section div.azkarCardSection div.azkarCardDetails{
  gap: 0.5em;
  display: grid; 
  place-content: center;
}

section div.azkarCardSection div.azkarCardDetails a{
  font-size: 24px;
  font-weight: 600;
  color: black;
}

section div.azkarCardSection div.azkarCardDetails a:hover{
  color: #c58940;
  padding-left: 12px;
}

section div.azkarCardSection div.azkarCardDetails a span{
  user-select: none;
  position: absolute;
  opacity: 0;
  font-size: 20px;
  transform: translateX(30px);
}

section div.azkarCardSection div.azkarCardDetails p{
    color: #878787;
    cursor: default;
}

section div.azkarCardSection div.azkarCardDetails a:hover span{
  opacity: 1;
  color: #c58940;
  transform: translateX(-12px);
}
section div.azkarCardSection div.azkarCardDetails a:active span{
  opacity: 0;
  transform: translateX(-30px);
}

section div.azkarCardSection:hover{
  transform: scale(1.02);
  border-color: #c58940;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.22);
}

section div.azkarCardSection:hover div.azkarCardDetails a{
  color: #14213D;
}

section div.azkarCardSection div.azkarCardDetails a:hover{
  color: #c58940;
}

section div.azkarCard div.azkarCardDetails p.azkarCardTitle:hover{
  transform: scale(1.04);
}

div.palestineicon{
  user-select: none;
  text-align: center;
  position: fixed;
  color: #000;
  padding-top: 1%;
  right: 1rem;
  bottom: 1rem;
  background: transparent;
}

div.palestineicon img.palestineflag{
  width: 50px;
  transition: all 0.3s ease 0s;
  margin-bottom: 5px;
}

div.palestineicon p.palestinetext{
  margin-top: auto;
  font-size: 18px;
  direction: rtl;
}


@media screen and (max-width: 600px){

  section div.welcomeCard{
    margin-bottom: 50px;
  }

  section div.welcomeCard p.welcomeTitle{
      font-size: 1.2em;
  }

  section div.welcomeCard p.welcomeBody{
      font-size: 1.1em;
  }

  div.palestineicon img.palestineflag{
    width: 40px;
  }
  
  div.palestineicon p.palestinetext{
    font-size: 16px;
  }
}